:root{
    --fuenteHeadinng: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', Sans-serif;

    --primario: #784D3C;
    --claro: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.4rem;
    line-height: 2;
}
/***************Globales*****************/
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeadinng);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
/***************Utilidades*****************/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/***************Header*****************/
.webp .header{
    background-image: url(../img/banner.webp);
}
.no-webp .header{
    background-image: url(../img/banner.jpg);
}
.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
.barra{
    padding-top: 2rem;
}
.logo{
    color: var(--blanco);
}
.logo__nombre{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
/***************Footer*****************/
.footer{
    background-color: var(--negro);
    padding-bottom: 1.5rem;
    margin-top: 2rem;
}
/***************IndexEntrada*****************/
.entrada{
    border-bottom: 1px solid var(--claro);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.boton{
    display: block;
    font-family: var(--fuenteHeadinng);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: var(--negro);
}
/***************IndexCursos*****************/
.cursos{
    list-style: none;
}
.widget-curso{
    border-bottom: 1px solid var(--claro);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{
    border: none;
    margin-bottom: 0;
}
.widget-curso__lebel,
.curso__lebel/*PaginaCursos*/{
    font-family: var(--fuenteHeadinng);
    font-weight: bold;
}
.widget-curso__info,
.curso__info/*PaginaCursos*/{
    font-weight: 400;
}
.boton--secundario{
    background-color: var(--primario);
}
.widget-curso__lebel,
.widget-curso__info,
.curso__lebel,/*PaginaCursos*/
.curso__info/*PaginaCursos*/{
    font-size: 2rem;
}
/***************Cursos*****************/
.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--claro);
}
.curso:last-of-type{
    padding: none;
    border-bottom: 0;
}
/***************Contacto*****************/
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
/***************Contacto*****************/
.formulario{
    background-color: var(--blanco);
    margin: -10rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field{
    flex: 1;
    border: 1px solid var(--claro);
}
.campo__field--textarea{
    height: 20rem;
}
/***************@media*****************/
@media (min-width: 768px) {
    /***********Header*************/
    .header__texto{
        margin-top: 15rem;
    }
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion{
        display: flex;
        gap: 2rem;
    }
    /***********Index*************/
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
    .boton{
        display: inline-block;
    }
    /***************SobreNosotros*****************/
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    /***************Cursos*****************/
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}